Options +FollowSymLinks
RewriteEngine On
 
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^producten ./products.php	 
RewriteRule ^producten/(\d+)*$ ./view_product.php?id=$1
RewriteRule ^soorten/(\d+)*$ ./view_producttype.php?id=$1

ErrorDocument 404 /404page.php