.line {
    background-color: #454545;
    height: 1px;
    width: 60%;
    margin-left: 28.8%;
    margin-bottom: 1%;
}

.ww_con {
	font-size: 12px;
	font-color: #454545;
        margin-left: 28.8%;
	width: 600px;
	min-height: 170px;
}

.ww_icon {
	width: 15px;
	display: inline-block;
}

.icon_edit, .icon_edit:link {
	color: green;
}

.ww_article {
	width: 350px;
	display: inline-block;
	height: 32px;
}

.ww_quantity {
	width: 65px;
	display: inline-block;
	height: 32px;
}

.ww_price {
	width: 100px;
	display: inline-block;
	height: 32px;
}

.rek_ov_button3 {
    font-family: iconfont;
    float: left;
    margin-left: 28.8%;
    background-color: #006666;
    border-radius: 5px;
    height: 32px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    color: white;
    line-height: 32px;
    display: inline-block;
}

.prodInfoTxt {
    font-family: iconfont;
    margin-right: 10px;
}

.levertijd {
	margin-left: 28.8%;
}

.totaalprijs {
    margin-left: 28,8%;
}

pay {
    background-color: #006666;
    float: right;	
    height: 10%;	
    width: 18%;
    text-align: center;
    font-weight: bold;
    color: white;	
    line-height: 220%;	
    margin-right: 20%;
    margin-left: 20%;
}

