@font-face {
    font-family: arialroundedmtbold;
    src: url(fonts/arialroundedmtbold.woff);
}


.loginbox {
	font-family: arialroundedmtbold, sans-serif, "Times New Roman";
	width: 30%;
	height: 180px;
	border: 1px solid #454545;
	border-radius: 5px;
	position: absolute;
	margin-left: 35%;
	margin-top: 10%;
	background-color: white;

}

input[type=text] {
	width: 70%;
	height: 32px;
	border: 1px solid;
	border-color: #006666;
	font-family: arialroundedmtbold, sans-serif, "Times New Roman";
	margin-top: 7%;
	margin-left: 10%;
	margin-right: 10%;
	padding-left: 48px;
	background: url('images/username_bg.jpg') no-repeat;
}

input[type=password] {
	width: 70%;
	height: 32px;
	border: 1px solid;
	border-color: #006666;
	font-family: arialroundedmtbold, sans-serif, "Times New Roman";
	margin-top: 2%;
	margin-left: 10%;
	margin-right: 10%;
	padding-left: 48px;
	background: url('images/password_bg.jpg') no-repeat;
}

::-webkit-input-placeholder {
	color: #b6b6b6;
}

:-moz-placeholder { /* Firefox 18- */
	color: #b6b6b6;
}

::-moz-placeholder {  /* Firefox 19+ */
	color: #b6b6b6;  
}

:-ms-input-placeholder {  
	color: #b6b6b6;  
}

input[type=submit] {
	float: right;
	background-color: #006666;
	border-radius: 5px;
	font-family: arialroundedmtbold, sans-serif, "Times New Roman";
	height: 32px;
	border: none;
	width: 30%;
	display: inline-block;
	line-height: 30%;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	color: white;
	margin-right: 10%;
	margin-top: 5%;
	margin-top: 5%;
}
