.links_fruit{	
	width: 30%;	
	float: left;    
    margin-left: 3%;
    margin-top: 2%;    
}

.rechts_fruit {	
	width: 30%;	
	float: left;    
    margin-left: 3%;
    margin-top: 2%;	
}

#description_fruit, #name, #category, #price, #quantity, #stock, #photo{
	width: 75%;	
	border: 1px solid;
	border-color: #006666;
	margin-top: 5%;	
}

#description_fruit {
	font-family: arialroundedmt, sans-serif, "Times New Roman";
	width: 90%;		
}

#name, #category, #price, #quantity, #stock{
	height: 32px;	
}

#name{	
	padding-left: 48px;	
	background: url("images/naam_bg.jpg") no-repeat;
}

#category{
	padding-left: 48px;
	background: url("images/categorie_bg.jpg") no-repeat;
}

#price{
	padding-left: 48px;
	background: url("images/prijs_bg.jpg") no-repeat;
}

#quantity{
	padding-left: 48px;
	background: url("images/kwantiteit_bg.jpg") no-repeat;
}

#stock{
	padding-left: 48px;
	background: url("images/voorraad_bg.jpg") no-repeat;
}

#submit{
	margin-top: 30%;	
	background-color: #006666;
	float: left;	
	height: 10%;	
	width: 18%;
	text-align: center;
	font-weight: bold;
	color: white;	
	line-height: 220%;	
	margin-left: 3%;
	margin-top: 2%;	
}


	

