.line {
    background-color: #454545;
    height: 1px;
    width: 60%;
    margin-left: 28.8%;
    margin-bottom: 1%;

}

.rek_ov_con {
	font-size: 12px;
	font-color: #454545;
        margin-left: 28.8%;
	width: 600px;
	min-height: 170px;
}

.rek_ov_icon {
	width: 30px;
	display: inline-block;
	height: 32px;
}

.rek_ov_day {
	width: 80px;
	display: inline-block;
	height: 32px;
}

.rek_ov_date {
	width: 95px;
	display: inline-block;
	height: 32px;
}

.rek_ov_price {
	width: 100px;
	display: inline-block;
	height: 32px;
}

.rek_ov_button1 {
    font-family: iconfont;
    background-color: #006666;
    border-radius: 5px;
    height: 32px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    color: white;
    line-height: 32px;
    display: inline-block;
}

.rek_ov_button2 {
    font-family: iconfont;
    float: right;
    background-color: #006666;
    border-radius: 5px;
    height: 32px;
    width: 160px;
    text-align: center;
    text-decoration: none;
    color: white;
    line-height: 32px;
    display: inline-block;
}

.rek_ov_button3 {
    font-family: iconfont;
    float: left;
    margin-left: 28.8%;
    background-color: #006666;
    border-radius: 5px;
    height: 32px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    color: white;
    line-height: 32px;
    display: inline-block;
}

.rek_nav {
	margin-top: 10px;
	margin-bottom: 20px;

}

.prodInfoTxt {
    font-family: iconfont;
    margin-right: 10px;
}

ul > li {
    
}

#pay {
    background-color: #006666;
    float: right;	
    height: 10%;	
    width: 18%;
    text-align: center;
    font-weight: bold;
    color: white;	
    line-height: 220%;	
    margin-right: 20%;

}

