@font-face {
    font-family: iconfont;
    src: url(fonts/fontawesome-webfont.woff);
}

@font-face {
    font-family: arialroundedmtbold;
    src: url(fonts/arialroundedmtbold.woff);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("images/bg.jpg");
    background-repeat: repeat;
    font-family: arialroundedmtbold;
}

p {
    font-family: arialroundedmtbold;
    font-size: 12px;
}

.iconfont {
    font-family: iconfont;
}

.contenttitle {
    line-height: 24px;
    margin-bottom: 15px;
}

.totalprice {
    font-size: 16px;
    ling-height: 24px;
}

.wrapper {
    min-height: 600px;
    min-width: 820px;
    position: relative;
    margin: auto;
    padding-bottom: 100px;
    margin-top: 100px;
    margin-bottom: 25px;
    width: 80%;
    height: auto;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 0px 32px -5px rgba(0,0,0,0.50); 
}

.wrappercontent {
    margin-left: 31%;
    margin-top: 28px;
    margin-right: 25px;
}

.wrapperhead {
    background-color: #006666;
    background: -webkit-linear-gradient(top, #007575, #006666);
    width: 100%;
    height: 50px;
    box-shadow: 0px 13px 60px -12px rgba(0,0,0,0.50);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
}

.wrapperheadcontent {
    color: white;
    padding-top: 9px;
}

.wrapperheadcontent .iconfont {
    font-size: 12px;
    color: white;
    margin-left: 12px;
}

.wrapperheadcontent span a {
    text-decoration: none;
    color: white;
}

.wrapperheadcontent span a:hover {
    text-decoration: none;
    color: white;
}

.wrapperheadcontent input[type=text] {
    height: 30px;
    border: 1px solid;
    border-color: white;
    font-family: arialroundedmtbold, sans-serif, "Times New Roman";
    padding-left: 36px;
    background: url('images/search_bg.jpg') no-repeat;
    background-color: white;
    border-radius: 5px;
    float: left;
}

.wrapperheadcontent .searchform{
    position: relative;
    width: 256px;
    margin-left: 25px;
}
.wrapperheadcontent .searchdropdown{
    position: absolute;
    top: 32px;
    left: 0px;
    background: #fff;
    border: 1px solid #757575;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    visibility: hidden;
    color: #000;
    box-shadow: 7px 7px 19px -6px rgba(0,0,0,0.75);
}

.wrapperheadcontent .searchdropdown a {
    display: block;
    color: #006666;
    text-decoration: none;
    height: 30px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 5px;
    border-bottom: 1px solid #B8B8B8;
}

.wrapperheadcontent .searchdropdown a:hover {
    background-color: #CCCCCC; 
}

.wrapperheadcontent .searchdropdown a .queryinword {
    color: black;
}

.contenthead {
    line-height: 32px;
}

.winkelwagen {
    background-color: #ffffff;
    color: #006666;
    display: inline-block;
    text-align: center;
    border: none;
    height: 32px;
    font-size: 12px;
    line-height: 32px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: all .3s ease;
    margin-right: 12px;
    float: right;
}

input[type="radio"] {
    margin-right: 10px;
    padding-right: 30px;
}

/* cancels the auto styling for autocomplete */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

header {
    min-width: 820px;
    color: white;
    height: 50px;
    padding-top: 10px;
    background-color: white;
    background: rgba(255, 255, 255, .7);
}

header div {
    margin: auto;
    width: 80%;
}

header .logo {
    font-size: 35px;
    color: #696969;
    text-decoration: none;
}

header .adminloggedin {
    color: #CC0000;
}

header .welcome-header {
    color: #8C8C8C;
    font-size: 13px;
    display: inline-block;

}

.messagewrapper {
    position: absolute;
    left: 50%;
    margin-top: 40px;
}

.messagewrapper .message {
    background-color: white;
    background: rgba(255, 255, 255, .7);
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    margin-top: -20px;
    position: relative; 
    left: -50%;
}

.messagewrapper .message #error {
    color: #CC0000;
}

.messagewrapper .message #success {
    color: #669900;
}


nav {
    clear: both;
    float: left;
    width: 25%;
    margin: 25px;
    box-shadow:   0px 0px 26px -2px rgba(0,0,0,0.50);
    overflow: hidden;
    border-radius: 5px;
}

nav > ul {
    list-style-type: none;
}

nav > ul > li {
    display: block;
}

nav > ul > li > a:not(.no-nav) {
    padding-left: 20px;
    background-color: #006666;
    border-bottom: 1px solid rgba(255,255,255,.1);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.1);
    color: white;
    display: block;
    line-height: 35px;
    text-shadow: 0 1px 1px rgba(0,0,0,.1);
    transition: all .1s ease;
    text-decoration: none;
}

nav > ul > li > a.no-nav > .arrow {
    color: white;
    margin-top:-25px; //deze css hack jonge
}

nav > ul > li > a:hover {
    background-color: #008b8b;
    cursor: pointer;
}

nav > ul > li > div {
    background-color: #006666;
}

nav > ul > li > div > ul {
    list-style-type: none;
}

nav > ul > li > div > ul > li{
    background-color: #EDEDED;
    border-bottom: 1px solid rgba(0,0,0,.05);
    color: #333331;
    display: block;
    padding: 10px 20px;
    font-family: arialroundedmtbold;
    transition: all 0.15s linear;
}

nav > ul > li > div > ul > li > a{
    color: #333331;
    text-decoration: none;
}

nav > ul > li > div > ul > li:hover {
    background-color: #008b8b;
    color: rgb(255,255,255);
    padding: 10px 0 10px 30px;
}

.toevoegtext {
    margin-top: -3px;
}


nav .arrow {
    font-family: iconfont;
    float: right;
    margin-right: 20px;
}

nav .arrow .productoevoegen {
    font-family: arialroundedmtbold;
    margin-left: 5px;
}

input[name="firstname"] {
    width: 25%;
    height: 32px;
    border: none;
    font-family: arialroundedmtbold, sans-serif, "Times New Roman";
    padding-left: 36px;
    background: url('images/username_bg.jpg') no-repeat;
    border-radius: 5px;
    float: left;
}

.button, input[type="submit"], .button_delete, .button_right{
    background-color: #006666;
    display: inline-block;
    text-align: center;
    color: white;
    border: none;
    height: 32px;
    font-size: 12px;
    line-height: 32px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: all .3s ease;
    margin-right: 12px;
}

.adminbuttonwrap {
    display: inline-block;
    float: right;
    position: relative;
    margin-top: 0px;
}

.button_delete {
    background-color: #d40000;
    float: right;
}

.button_right {
    float:right;
}

.button_delete:hover {
    background-color: #FF1C1C;
    cursor: pointer;
}

.button span, .button_right span, .button_delete span, .winkelwagen span {
    font-family: iconfont;
    font-size: 12px;
    padding-right: 10px;
}

.button:hover, .button_right:hover {
    background-color:#008b8b;
    cursor: pointer;
}

/* HEAD LOGIN AND REGISTER BUTTONS */
#login {
    margin-top: 3px;
    margin-right: 12px;
    line-height: 32px;
    float: right;
    font-size: 12px;
}

#register {
    margin-top: 3px;
    line-height: 32px;
    float:right;
    font-size: 12px;
}

footer {
    width: 100%;
    height: 50px;
    color: #3D9191;
    background-color: #006666;
    position: absolute; bottom:0;
    box-shadow: 0 -4px 0 rgba(0,0,0,.25);
}

footer p {
    float: left;
    line-height: 50px;
    margin-left: 25px;
}

footer a {
    float: right;
    line-height: 50px;
    margin-right: 25px;
    text-decoration: none;
    color: #3D9191;
}

footer a:hover {
    text-decoration: underline;
}

/* Page switcher */
.pageswitchwrapper {
    height: 32px;
    line-height: 32px;
    margin-bottom: 10px;
}
.pageswitchwrapper .button {
    color: white;
}

.pageswitchwrapper a {
    color: black;
    margin-left: 4px;
    margin-right: 4px;
    text-decoration: none;
}

#currentpage {
    color: #006666;
}

/* Product box */
.box {
    display: inline-block;
    font-family: arialroundedmtbold;
    margin: 4px;
    height: auto;
    width: 47%;
    border: 1px solid;
    border-radius: 5px;
    border-color: #006666;
    background-color: white;
}

.box .title {
    margin-left: 15px;
    margin-top: 7px;
    margin-bottom: 10px;
    font-size: 14px;
}

.box .title span {
    color: #006666;
}

.box .image {
    width: 100%;
    height: 55%;
    background: url("images/no-image.png") no-repeat;
    margin-bottom: 10px;
}

.box .stock {
    margin-left: 15px;
    margin-top: 3px;

}

.box .price {
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 10px;
}

.stockicongreen {
    font-family: iconfont;
    color: green;
    margin-right: 12px;
}

.stockiconred {
    font-family: iconfont;
    color: red;
    margin-right: 12px;
}

.stockicon {
    font-family: iconfont;
    margin-right: 13px;
}

.textlink, .textlink:visited, .textlink:hover {
    color: #006666;
    text-decoration: none;
    transition: all .3s ease;
}

.textlink:hover {
    text-decoration: underline;
}

.box, .productpagelink {
    color: black;
    text-decoration: none;
    transition: all .3s ease;
}

.box .productpagelink:hover {
    padding-left: 4px;
    font-color: #006666;
}

.box .productpagelink:visited {
    font-color: #006666;
}

.box .button span {
    font-family: iconfont;
    font-size: 12px;
}

.box .button:hover {
    background-color:#008b8b;
}

/* ProductS page */

.selecter {
    border-radius: 5px;
    height: 30px;
    border: 1px solid;
    border-color: #006666;
    font-family: arialroundedmtbold, sans-serif, "Times New Roman";
   
}

.dropdownproducts {
    position: absolute;
    right: 5%;
    top: 79px;
    width: 250px;
    border: 1px red solid;
    height: 32px;
}

#select_order {
    width: 95px;
    margin-right: 5px;
    float: right;
}

#select_amount {
    width: 132px;
    float: right;
}


/* Product page */

.hrline {
    width: 100%;
    height: 1px;
    background-color: #919191;
    margin-top: 20px;
}

.descriptionwrap {
    position: relative;
    min-height: 160px;
}

.descrText {
    margin-top: 20px;
    width: 48%;
    display: inline-block;
    font-size: 12px;
    text-align: justify;
}
.descrImg {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 0px;
    position: absolute;
    left: 51%;
}

.image:hover {
    opacity: 0.7; 
    filter: alpha(opacity=70);
}

.backtocategory {
    clear: both;
    display: block;
}

.underdescription {
    margin-top: 20px;
}

.addToCart {
    float: right;
    display: inline-block;
}

.icon-ok {
    color: green;
    font-family: iconfont;
}

.icon {
    font-family: iconfont;
}

.icon-not-ok {
    color: green;
    font-family: iconfont;
}

.inputForm {
    float:right;
}

.prodInfoTxt {
    float:left;
}

/* manager_panel css */

.manager_panel{
    width: 300px;
    height: 300px;
    float:left;
}

.manager_button {
    background-color: #006666;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: all .3s ease;
}

.manager_button span {
    font-family: iconfont;
    font-size: 12px;
}

.manager_button:hover {
    background-color:#008b8b;
    cursor: pointer;
}

.infoList {
    list-style-type:none;
}

/* CUSTOMER LOGIN AND REGISTER FORMS*/

#person {
    background: url('images/username_bg.jpg') no-repeat;
}

#info {
    background: url('images/info_bg.jpg') no-repeat;
}

input[type=text] {
    width: 250px;
    margin-bottom: 15px;
    height: 30px;
    border: 1px solid;
    border-color: #006666;
    font-family: arialroundedmtbold, sans-serif, "Times New Roman";
    padding-left: 36px;
    background: url('images/username_bg.jpg') no-repeat;
    background-color: white;
    border-radius: 5px;
}

.addToCart input[type=text] {
    width: 135px;
    background: url('images/kwantiteit_bg.jpg') no-repeat;
}

#add_new_category {
    margin-bottom: 15px;
    height: 30px;
    border: 1px solid;
    border-color: #006666;
    font-family: arialroundedmtbold, sans-serif, "Times New Roman";
    padding-left: 36px;
    background: url('images/naam_bg.jpg') no-repeat;
    border-radius: 5px;
}

input[type=password] {
    width: 250px;
    border-radius: 5px;
    margin-bottom: 15px;
    height: 30px;
    border: 1px solid;
    border-color: #006666;
    font-family: arialroundedmtbold, sans-serif, "Times New Roman";
    padding-left: 36px;
    background: url('images/password_bg.jpg') no-repeat;
}

.select_gender {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 5px;
    margin-bottom: 15px;
    height: 32px;
    border: 1px solid;
    border-color: #006666;
    font-family: arialroundedmtbold, sans-serif, "Times New Roman";
    padding-left: 36px;
    background: url('images/username_bg.jpg') no-repeat;
    width: 100px;
    float: left;
    margin-right: 10px;
}

.wrapperregister {
    width: 300px;
}

input[type="submit"] {
    border: none;
}

input[name="firstname"] {
    width: 140px;
}


/* ADD ADMIN PRODUCT */

#description_fruit, #name, #category, #price, #quantity, #stock, #photo{
    width: 250px;	
    border: 1px solid;
    border-color: #006666;
    border-radius: 5px;
    margin-top: 12px;	
    padding-left: 36px;	
    height: 32px;	
}

#description_fruit {
    font-family: arialroundedmt, sans-serif, "Times New Roman";
    width: 250px;
    height: 80px;	
}

#name{		
    background: url("images/naam_bg.jpg") no-repeat;
}

#category{
    background: url("images/categorie_bg.jpg") no-repeat;
}

#price{
    background: url("images/prijs_bg.jpg") no-repeat;
}

#quantity{
    background: url("images/kwantiteit_bg.jpg") no-repeat;
}

#stock {
    background: url("images/voorraad_bg.jpg") no-repeat;
}

.pay {
    padding: 10px;
}

#addedProduct {
    color: red;
}

.deleteItemLink {
    color:black;
}

#deleteItem {
    font-family: iconfont;
    color:red;
}

.select_category {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 5px;
    margin-bottom: 15px;
    height: 32px;
    border: 1px solid;
    border-color: #006666;
    font-family: arialroundedmtbold, sans-serif, "Times New Roman";
    padding-left: 36px;
    background: url('images/categorie_bg.jpg') no-repeat;
    width: 286px;
}

.upload_image {
    margin-bottom: 15px;
}

/* SHOPPING CART */

.inputBox {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 105px;
    height: 32px;
    border: 1px solid;
    border-color: #006666;
    font-family: arialroundedmtbold, sans-serif, "Times New Roman";
    padding-left: 36px;
    background: url('images/voorraad_bg.jpg') no-repeat;
    background-color: white;
    border-radius: 5px;
}

/* Select Order */

.dropdownwrapper {
    float: right;
    display: inline-block;
}

table {
    border-collapse: collapse;
    margin-right: 12px;
    margin-bottom: 20px;
    border-bottom: 1px solid #696969;
    width: 100%;
}

th {
    text-align: left;
    background-color: #E5E4E2;
    color: #006666;
    border-bottom: 1px solid #696969;
    font-size: 13px;
    padding-right: 20px;
    padding-left: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    height: 32px;

}

td {
    font-size: 12px;
    padding-right: 20px;
    padding-left: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid #696969;
    height: 40px;
}

.detailslink {
    color: #006666;
    text-decoration: none;
}

.company_info, .costumer_info {
    vertical-align: top;
}

table.order th, table.order td, table.order tr {
    border: none;
}

/* admin panel customer overview */

.adminview th, .adminview td {
    height: 24px;
}

table thead {
    background-color: #454545;
}

table tbody {
    border-top: 2px solid black;
}

table.product_info {
    float: left;
    width: 200px;
    border: none;
}

table.product_info tbody {
    border: none;
}

table.product_info tr, table.product_info td {
    height: 16px;
    border: none;
} 
