@font-face {
    font-family: iconfont;
    src: url(fonts/fontawesome-webfont.woff);
}

@font-face {
    font-family: arialroundedmtbold;
    src: url(fonts/arialroundedmtbold.woff);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("images/bg.jpg");
    background-repeat: repeat;
    font-family: arialroundedmtbold;
}

select {
    border-radius: 5px;
    margin-bottom: 15px;
    height: 32px;
    border: 1px solid;
    border-color: #006666;
    font-family: arialroundedmtbold, sans-serif, "Times New Roman";
    padding-left: 36px;
    width: 100px;
    float: left;
    margin-right: 10px;
    margin-top: 18px;
}

.iconfont {
    font-family: iconfont;
}

.contenttitle {
    margin-top: 20px;
    margin-bottom: 15px;
}

.wrapper {
    min-height: 500px;
    position: relative;
    margin: auto;
    padding-bottom: 100px;
    margin-top: 100px;
    margin-bottom: 25px;
    width: 80%;
    height: auto;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 0px 32px -5px rgba(0,0,0,0.50);
}

.wrappercontent {
    margin-left: 30%;
}

.wrapperhead {
    background-color: #006666;
    background: -webkit-linear-gradient(top, #007575, #006666);
    width: 100%;
    height: 50px;
    box-shadow: 0px 13px 60px -12px rgba(0,0,0,0.50);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
}

.wrapperheadcontent {
    color: white;
    padding-top: 9px;
    margin-left: 0px;
}

.wrapperheadcontent .iconfont {
    font-size: 12px;
    color: white;
    margin-left: 12px;
}

.wrapperheadcontent span a {
    text-decoration: none;
    color: white;
}

.wrapperheadcontent span a:hover {
    text-decoration: none;
    color: white;
}

.wrapperheadcontent input[type=text] {
    width: 20%;
    margin-left: 25px;
    margin-bottom: 15px;
    height: 30px;
    border: 1px solid;
    border-color: white;
    font-family: arialroundedmtbold, sans-serif, "Times New Roman";
    padding-left: 36px;
    background: url('images/search_bg.jpg') no-repeat;
    background-color: white;
    border-radius: 5px;
    float: left;
}

.winkelwagen {
    background-color: #ffffff;
    color: #006666;
    display: inline-block;
    text-align: center;
    border: none;
    height: 32px;
    font-size: 12px;
    line-height: 32px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: all .3s ease;
    margin-right: 12px;
    float: right;
}

header {
    color: white;
    height: 50px;
    padding-top: 10px;
    padding-left: 0px;
    background-color: white;
    background: rgba(255, 255, 255, .7);
}

header div {
    margin: auto;
    width: 80%;
}

header .logo {
    font-size: 35px;
    color: #696969;
    text-decoration: none;
}

header .adminloggedin {
    color: #CC0000;
}

header .welcome-header {
    color: #8C8C8C;
    font-size: 13px;
    display: inline-block;

}

.messagewrapper {
    position: absolute;
    left: 50%;
    margin-top: 40px;
}

.messagewrapper .message {
    background-color: white;
    background: rgba(255, 255, 255, .7);
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    margin-top: -20px;
    position: relative; 
    left: -50%;
}

.messagewrapper .message #error {
    color: #CC0000;
}

.messagewrapper .message #success {
    color: #669900;
}


nav {
    clear: both;
    float: left;
    width: 25%;
    margin: 25px;
    box-shadow:   0px 0px 26px -2px rgba(0,0,0,0.50);
    overflow: hidden;
    border-radius: 5px;
}

nav > ul {
    list-style-type: none;
}

nav > ul > li {
    display: block;
}

nav > ul > li > a:not(.no-nav) {
    padding-left: 20px;
    background-color: #006666;
    border-bottom: 1px solid rgba(255,255,255,.1);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.1);
    color: white;
    display: block;
    line-height: 35px;
    text-shadow: 0 1px 1px rgba(0,0,0,.1);
    transition: all .1s ease;
    text-decoration: none;
}

nav > ul > li > a.no-nav > .arrow {
    color: white;
    margin-top:-25px; //deze css hack jonge
}

nav > ul > li > a:hover {
    background-color: #008b8b;
    cursor: pointer;
}

nav > ul > li > div {
    background-color: #006666;
}

nav > ul > li > div > ul {
    list-style-type: none;
}

nav > ul > li > div > ul > li{
    background-color: #EDEDED;
    border-bottom: 1px solid rgba(0,0,0,.05);
    color: #333331;
    display: block;
    padding: 10px 20px;
    font-family: arialroundedmtbold;
    transition: all 0.15s linear;
}

nav > ul > li > div > ul > li > a{
    color: #333331;
    text-decoration: none;
}

nav > ul > li > div > ul > li:hover {
    background-color: #008b8b;
    color: rgb(255,255,255);
    padding: 10px 0 10px 30px;
}


nav .arrow {
    font-family: iconfont;
    float: right;
    margin-right: 20px;
}

input[name="firstname"] {
    width: 25%;
    height: 32px;
    border: none;
    font-family: arialroundedmtbold, sans-serif, "Times New Roman";
    padding-left: 36px;
    background: url('images/username_bg.jpg') no-repeat;
    border-radius: 5px;
    float: left;
}

.button, input[type="submit"], .button_delete, .button_right{
    background-color: #006666;
    display: inline-block;
    text-align: center;
    color: white;
    border: none;
    height: 32px;
    font-size: 12px;
    line-height: 32px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: all .3s ease;
    margin-right: 12px;
}

.button_right{
    float: right;
    margin-right: 12px;
}

.button_delete{
    background-color: #d40000;
    float: right;
    margin-right: 0px;
}

.button span, .winkelwagen span {
    font-family: iconfont;
    font-size: 12px;
    padding-right: 10px;
}

.button:hover {
    background-color:#008b8b;
    cursor: pointer;
}

/* HEAD LOGIN AND REGISTER BUTTONS */
#login {
    margin-top: 3px;
    margin-right: 12px;
    line-height: 32px;
    float: right;
    font-size: 12px;
}

#register {
    margin-top: 3px;
    line-height: 32px;
    float:right;
    font-size: 12px;
}

footer {
    width: 100%;
    height: 50px;
    color: #3D9191;
    background-color: #006666;
    position: absolute; bottom:0;
    box-shadow: 0 -4px 0 rgba(0,0,0,.25);
}

footer p {
    float: left;
    margin-top: 15px;
    margin-left: 25px;
}

footer a {
    float: right;
    margin-top: 15px;
    margin-right: 25px;
    text-decoration: none;
    color: #3D9191;
}

footer a:hover {
    text-decoration: underline;
}

/* Page switcher */
.pageswitchwrapper {
    margin-right: 25px;
    margin-top: 30px;
    height: 32px;
    line-height: 32px;
}
.pageswitchwrapper .button {
    color: white;
}

.pageswitchwrapper a {
    color: black;
    margin-left: 4px;
    margin-right: 4px;
    text-decoration: none;
}

/* Product box */
.box {
    display: inline-block;
    font-family: arialroundedmtbold;
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 20px;
    height: 200px;
    width: 320px;
    border: 1px solid;
    border-radius: 5px;
    border-color: #006666;
    background-color: white;
}

.box .title {
    margin-left: 15px;
    margin-top: 7px;
    margin-bottom: 10px;
    font-size: 14px;
}

.box .title span {
    color: #006666;
}

.box .image {
    width: 100%;
    height: 55%;
    background-image: url("images/no-image.png");
    margin-bottom: 10px;
}

.box .stock {
    margin-left: 15px;
    margin-top: 5px;
    float: left;
}

.box .price {
    margin-top: 5px;
    margin-right: 10px;
    float: right;
}

.box .stock span {
    font-family: iconfont;
    color: green;
}

.box a {
    color: black;
    text-decoration: none;
    transition: all .3s ease;
}

.box .productpagelink:hover {
    padding-left: 4px;
}

.box .button span {
    font-family: iconfont;
    font-size: 12px;
}

.box .button:hover {
    background-color:#008b8b;
}

/* Product page */
.description {
    width:65%;
    margin-left: 30%;
}

.category {
    color: #006666;
}


.descrText {
    text-align: right;
    display: inline-block;
}
.descrImg {
    display: inline-block;
}

.icon-ok {
    color: green;
    font-family: iconfont;
}
.icon {
    font-family: iconfont;
    margin-left: 
}
.icon-not-ok {
    color: green;
    font-family: iconfont;
}

.inputForm {
    float:right;
}

.inputBox{
    width: 20px;
}

.prodInfoTxt {
    float:left;
}

/* manager_panel css */

.manager_panel{
    width: 300px;
    height: 300px;
    float:left;
}

.manager_button {
    background-color: #006666;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: all .3s ease;
}

.manager_button span {
    font-family: iconfont;
    font-size: 12px;
}

.manager_button:hover {
    background-color:#008b8b;
    cursor: pointer;
}

.infoList {
    list-style-type:none;
}

/* CUSTOMER LOGIN AND REGISTER FORMS*/
.formwrapper {
    margin-top: 25px;
    margin-left: 30%;
    font-family: arialroundedmtbold, sans-serif, "Times New Roman";
    width: 80%;
}

#person {
    background: url('images/username_bg.jpg') no-repeat;
}

#info {
    background: url('images/info_bg.jpg') no-repeat;
}

.formwrapper input[type=text] {
    width: 250px;
    margin-bottom: 15px;
    height: 30px;
    border: 1px solid;
    border-color: #006666;
    font-family: arialroundedmtbold, sans-serif, "Times New Roman";
    padding-left: 36px;
    background: url('images/username_bg.jpg') no-repeat;
    background-color: white;
    border-radius: 5px;
}

#add_new_category {
    margin-bottom: 15px;
    height: 30px;
    border: 1px solid;
    border-color: #006666;
    font-family: arialroundedmtbold, sans-serif, "Times New Roman";
    padding-left: 36px;
    background: url('images/naam_bg.jpg') no-repeat;
    border-radius: 5px;
}

.formwrapper input[type=password] {
    width: 250px;
    border-radius: 5px;
    margin-bottom: 15px;
    height: 32px;
    border: 1px solid;
    border-color: #006666;
    font-family: arialroundedmtbold, sans-serif, "Times New Roman";
    padding-left: 36px;
    background: url('images/password_bg.jpg') no-repeat;
}

.formwrapper select {
    border-radius: 5px;
    margin-bottom: 15px;
    height: 32px;
    border: 1px solid;
    border-color: #006666;
    font-family: arialroundedmtbold, sans-serif, "Times New Roman";
    padding-left: 36px;
    background: url('images/username_bg.jpg') no-repeat;
    width: 100px;
    float: left;
    margin-right: 10px;
}

input[type="submit"] {
    border: none;
}

.formwrapper input[name="firstname"] {
    width: 140px;
}

.formwrapper input[name="lastname"] {
    clear: both;
    float: left;
}

/* ADD ADMIN PRODUCT */
.links_fruit{	
    width: 30%;	
    float: left;    
    margin-left: 3%;
    margin-top: 2%;    
}

.rechts_fruit {	
    width: 30%;	
    float: left;    
    margin-left: 3%;
    margin-top: 2%;	
}

#description_fruit, #name, #category, #price, #quantity, #stock, #photo{
    width: 75%;	
    border: 1px solid;
    border-color: #006666;
    margin-top: 5%;	
}

#description_fruit {
    font-family: arialroundedmt, sans-serif, "Times New Roman";
    width: 90%;		
}

#name, #category, #price, #quantity, #stock{
    height: 32px;	
}

#name{	
    padding-left: 36px;	
    background: url("images/naam_bg.jpg") no-repeat;
}

#category{
    padding-left: 36px;
    background: url("images/categorie_bg.jpg") no-repeat;
}

#price{
    padding-left: 36px;
    background: url("images/prijs_bg.jpg") no-repeat;
}

#quantity{
    padding-left: 36px;
    background: url("images/kwantiteit_bg.jpg") no-repeat;
}

#stock {
    padding-left: 36px;
    background: url("images/voorraad_bg.jpg") no-repeat;
}

.pay {
    padding: 10px;
}

#addedProduct {
    color: red;
}

.deleteItemLink {
    color:black;
}

#deleteItem {
    font-family: iconfont;
    color:red;
}

/* Shopping cart */

.shopping_cart_table {
    width:95%;
}

td {
    width:10%;
}
.line {
    background-color: #454545;
    height: 1px;
    width: 95%;    
    margin-bottom: 1%;
    margin-left: 28,8%;
}

.shopping_cart {
    margin-left: 28.8%;
}

.product_basket {
    font-size: 10px;
    font-color: #454545;
    width: 80%;
    width: 20%;
    margin-left: 2%;
}

.shopping_cart_delivery_time .shopping_cart_price_total {
    padding-right: 30px;
}

#pay {
    background-color: #006666;
    height: 10%;    
    width: 18%;
    text-align: center;
    font-weight: bold;
    color: white;   
    line-height: 220%;
    float: right;	    	
    margin-right: 20%;
    margin-left: 20%;
}



.shopping_cart_icon {
    width: 15px;
    display: inline-block;
    font-family: iconfont;
}

.shopping_cart_edit .shopping_cart_delete:link {
    color: green;
    font-family: iconfont;
    
}

/* Select Order */

.select_order {
    margin: 0px;
    padding-left : 2px;
    float: right;
}

