.line {
    background-color: #454545;
    height: 1px;
    width: 80%;    
    margin-bottom: 1%;
    margin-left: 28,8%;
}

.shopping_cart {
    margin-left: 28.8%;
}

.name .quantity .subtotal {
    font-size: 12px;
    font-color: #454545;
    width: 80%;
    min-height: 170px;
    width: 40%;
    display: inline-block;
}

.shopping_cart_delivery_time .shopping_cart_price_total {
    padding-right: 30px;
}



#pay {
    background-color: #006666;
    height: 10%;    
    width: 18%;
    text-align: center;
    font-weight: bold;
    color: white;   
    line-height: 220%;
    float: right;	    	
    margin-right: 20%;
    margin-left: 20%;
}



.shopping_cart_icon {
    width: 15px;
    display: inline-block;
    font-family: iconfont;
}

.shopping_cart_edit .shopping_cart_delete:link {
    color: green;
    font-family: iconfont;
    
}





