.manager_panel{
	width: 300px;
	height: 300px;
	float:left;
}

.manager_button {
    background-color: #006666;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: all .3s ease;
}

.manager_button span {
    font-family: iconfont;
    font-size: 12px;
}

.manager_button:hover {
    background-color:#008b8b;
    cursor: pointer;
}
