
<!DOCTYPE html>
<html>
	<body>
	<script>
		function checkPass()
		{
		    var pass1 = document.getElementById('pass1');
		    var pass2 = document.getElementById('pass2');
		    var message = document.getElementById('confirmMessage');
		    var goodColor = "#66cc66";
		    var badColor = "#ff6666";
		    var hiddenMessage = pass1.value.length;
		    var minLength = 5;
		    if(pass1.value == pass2.value && hiddenMessage > minLength){
		        pass1.style.backgroundColor = goodColor;
		        pass2.style.backgroundColor = goodColor;
		        message.style.color = goodColor;
		        message.innerHTML = "Passwords Match!";
		    }else if(pass1.value == pass2.value && hiddenMessage <= minLength){
		        pass1.style.backgroundColor = badColor;
		        pass2.style.backgroundColor = badColor;
		        message.style.color = badColor;
		        message.innerHTML = "Your Password Must Be At Least 6 Characters";
		    }else {
		        pass1.style.backgroundColor = badColor;
		        pass2.style.backgroundColor = badColor;
		        message.style.color = badColor;
		        message.innerHTML = "Passwords Do Not Match!";
		    }
		}  
	</script>
	<head>
		<meta charset="UTF-8">
		<title>Loginpagina</title>
		<link rel="stylesheet" type="text/css" href="registreren.css">
	</head>
	<div class="registreerbox">
		<form action="demo_form.asp">
			<input type="text" name="username" placeholder="username"><br>
			<input type="password" name="wachtwoord" placeholder="wachtwoord" id="pass1" onkeyup="checkPass(); return false;">
			<span id="confirmMessage"></span><br>
			<input type="password" name="wachtwoord2" placeholder="wachtwoord (nogmaals)" id="pass2" onkeyup="checkPass(); return false;">
			<span id="confirmMessage"></span><br>
			<input type="text" name="voornaam" placeholder="voornaam" id="person"><br>
			<input type="text" name="achternaam" placeholder="achternaam" id="person"><br>
			<input type="text" name="emailadres" placeholder="emailadres" id="person"><br>
			<input type="text" name="woonplaats" placeholder="woonplaats" id="info"><br>
			<input type="text" name="straatnaam" placeholder="straatnaam" id="info"><br>
			<input type="text" name="huisnummer" placeholder="huisnummer" id="info"><br>
			<input type="submit" value="registreren">
		</form>
	</div>
</body>
</html>
